body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.hero {
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    margin: 0 0 10px;
    font-size: 1.8em;
    color: #007bff;
}

.hero p {
    margin: 10px 0;
    font-size: 1.2em;
}

.hero button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.hero button:hover {
    background-color: #218838;
}


footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*code for css info page*/
main {
    padding: 20px 0;
}

main h3 {
    color: #333;
    border-top: 2px solid #333;
    padding-bottom: 5px;
}

main p {
    margin: 20px 0;
}


main strong {
    color: #1c1b1b;
}

.demo-button {
    background-color: #007BFF; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    text-align: center; 
    font-size: 16px; 
    margin: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
    
}

.demo-button:hover {
    background-color: #0056b3; 
}
/*code for css demo page*/


main {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    
}





.demo-text, .demo-box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

.color {
    color: red;
}

.background {
    width: 200px;
    height: 100px;
    background-color: blue;
    color: white;
}

.border {
    width: 200px;
    height: 100px;
    border: 2px solid green;
    color: black;
}

.font-size{
    font-size: 24px;
}

.margin {
    width: 200px;
    height: 100px;
    background-color: lightgray;
    margin: 20px;
}

.padding {
    width: 200px;
    height: 100px;
    background-color: lightyellow;
    padding: 20px;
}

.text-align{
    text-align: center;
}

.box-shadow {
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    box-shadow: 5px 5px 10px ;
}

.border-radius {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border-radius: 15px;
}
